.wrapper-rrg{
    width: 420px;
    background-color: rgba(0, 0, 0, 0.8); 
    border: 2px solid rgba(255,255,255,.2);
    color:#fff;
    box-shadow: 0 0 10px rgba(255,255,255,.2);
    border-radius: 20px;
    padding: 30px 40px;
}
.wrapper-rrg .reglink{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper-rrg h1 {
    font-size: 36px;
    text-align: center;
}

.rrgbg{
    display:flex;
    justify-content: center;
  align-items: center; 
  background-image: url('../../assets/lnbg2.svg');
  background-position:center;
  background-repeat: no-repeat;
  object-fit:cover;
  background-size:cover;
  height:100vh;
  width:100vw;
}
